# Created by .ignore support plugin (hsz.mobi)
venv/bin/UTscapy
venv/bin/chardetect
venv/bin/netaddr
venv/bin/oslo-config-generator
venv/bin/oslo-config-validator
venv/bin/pbr
venv/bin/pybabel
venv/bin/pyroute2-cli
venv/bin/ryu
venv/bin/ryu-manager
venv/bin/scapy
venv/bin/ss2
venv/etc/
venv/include/
venv/lib/python3.6/site-packages/__pycache__/
venv/lib/python3.6/site-packages/babel/__pycache__/
venv/lib/python3.6/site-packages/babel/localtime/__pycache__/
venv/lib/python3.6/site-packages/babel/messages/__pycache__/
venv/lib/python3.6/site-packages/certifi/__pycache__/
venv/lib/python3.6/site-packages/chardet/__pycache__/
venv/lib/python3.6/site-packages/chardet/cli/__pycache__/
venv/lib/python3.6/site-packages/debtcollector/__pycache__/
venv/lib/python3.6/site-packages/debtcollector/fixtures/__pycache__/
venv/lib/python3.6/site-packages/debtcollector/tests/__pycache__/
venv/lib/python3.6/site-packages/dns/__pycache__/
venv/lib/python3.6/site-packages/dns/rdtypes/ANY/__pycache__/
venv/lib/python3.6/site-packages/dns/rdtypes/CH/__pycache__/
venv/lib/python3.6/site-packages/dns/rdtypes/IN/__pycache__/
venv/lib/python3.6/site-packages/dns/rdtypes/__pycache__/
venv/lib/python3.6/site-packages/eventlet/__pycache__/
venv/lib/python3.6/site-packages/eventlet/green/OpenSSL/__pycache__/
venv/lib/python3.6/site-packages/eventlet/green/__pycache__/
venv/lib/python3.6/site-packages/eventlet/green/http/__pycache__/
venv/lib/python3.6/site-packages/eventlet/green/urllib/__pycache__/
venv/lib/python3.6/site-packages/eventlet/greenio/__pycache__/
venv/lib/python3.6/site-packages/eventlet/hubs/__pycache__/
venv/lib/python3.6/site-packages/eventlet/support/__pycache__/
venv/lib/python3.6/site-packages/eventlet/zipkin/__pycache__/
venv/lib/python3.6/site-packages/eventlet/zipkin/_thrift/__pycache__/
venv/lib/python3.6/site-packages/eventlet/zipkin/_thrift/zipkinCore/__pycache__/
venv/lib/python3.6/site-packages/idna/__pycache__/
venv/lib/python3.6/site-packages/msgpack/__pycache__/
venv/lib/python3.6/site-packages/netaddr/__pycache__/
venv/lib/python3.6/site-packages/netaddr/contrib/__pycache__/
venv/lib/python3.6/site-packages/netaddr/eui/__pycache__/
venv/lib/python3.6/site-packages/netaddr/ip/__pycache__/
venv/lib/python3.6/site-packages/netaddr/strategy/__pycache__/
venv/lib/python3.6/site-packages/oslo_config/__pycache__/
venv/lib/python3.6/site-packages/oslo_config/sources/__pycache__/
venv/lib/python3.6/site-packages/oslo_config/tests/__pycache__/
venv/lib/python3.6/site-packages/oslo_config/tests/testmods/__pycache__/
venv/lib/python3.6/site-packages/oslo_i18n/__pycache__/
venv/lib/python3.6/site-packages/oslo_i18n/tests/__pycache__/
venv/lib/python3.6/site-packages/ovs/__pycache__/
venv/lib/python3.6/site-packages/ovs/db/__pycache__/
venv/lib/python3.6/site-packages/ovs/unixctl/__pycache__/
venv/lib/python3.6/site-packages/pbr/__pycache__/
venv/lib/python3.6/site-packages/pbr/cmd/__pycache__/
venv/lib/python3.6/site-packages/pbr/hooks/__pycache__/
venv/lib/python3.6/site-packages/pbr/tests/__pycache__/
venv/lib/python3.6/site-packages/pbr/tests/testpackage/__pycache__/
venv/lib/python3.6/site-packages/pbr/tests/testpackage/doc/source/__pycache__/
venv/lib/python3.6/site-packages/pbr/tests/testpackage/pbr_testpackage/__pycache__/
venv/lib/python3.6/site-packages/pytz/__pycache__/
venv/lib/python3.6/site-packages/repoze/lru/__pycache__/
venv/lib/python3.6/site-packages/requests/__pycache__/
venv/lib/python3.6/site-packages/rfc3986/__pycache__/
venv/lib/python3.6/site-packages/routes/__pycache__/
venv/lib/python3.6/site-packages/ryu/__pycache__/
venv/lib/python3.6/site-packages/ryu/lib/__pycache__/
venv/lib/python3.6/site-packages/ryu/lib/ovs/__pycache__/
venv/lib/python3.6/site-packages/scapy/__pycache__/
venv/lib/python3.6/site-packages/scapy/arch/__pycache__/
venv/lib/python3.6/site-packages/scapy/arch/bpf/__pycache__/
venv/lib/python3.6/site-packages/scapy/asn1/__pycache__/
venv/lib/python3.6/site-packages/scapy/layers/__pycache__/
venv/lib/python3.6/site-packages/scapy/modules/__pycache__/
venv/lib/python3.6/site-packages/sortedcontainers/__pycache__/
venv/lib/python3.6/site-packages/stevedore/__pycache__/
venv/lib/python3.6/site-packages/stevedore/example/__pycache__/
venv/lib/python3.6/site-packages/stevedore/example2/__pycache__/
venv/lib/python3.6/site-packages/stevedore/tests/__pycache__/
venv/lib/python3.6/site-packages/urllib3/__pycache__/
venv/lib/python3.6/site-packages/urllib3/contrib/__pycache__/
venv/lib/python3.6/site-packages/urllib3/contrib/_securetransport/__pycache__/
venv/lib/python3.6/site-packages/urllib3/packages/__pycache__/
venv/lib/python3.6/site-packages/urllib3/packages/backports/__pycache__/
venv/lib/python3.6/site-packages/urllib3/packages/rfc3986/__pycache__/
venv/lib/python3.6/site-packages/urllib3/packages/ssl_match_hostname/__pycache__/
venv/lib/python3.6/site-packages/urllib3/util/__pycache__/
venv/lib/python3.6/site-packages/webob/__pycache__/
venv/share/


.idea